.dialogBorder {
    border-radius: 20px;
}
.cardTitle {
    background-color: #003041;
    font-weight: 200;
    color: #FFFFFF;
}

::-webkit-scrollbar-track
{
    background-color: transparent;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: #666B7A;
}
